ul, li{
	padding: 0px;
	margin: 0px;
}


 table {
   width: 100%;
   border-top: 1px solid #444444;
   border-collapse: collapse;
 }
 th, td {
   border-bottom: 1px solid #444444;
   border-left: 1px solid #444444;
   padding: 10px;
 }
 th:first-child, td:first-child {
   border-left: none;
 }

footer {
    bottom: 0;
}

.wrapper{
	height : 100%;	
}
body {
    margin-bottom: 100px;
}

/* paginate */
.paginate {
    padding: 0;
    line-height: normal;
    text-align: center;
    position: relative;
    margin: 20px 0 20px 0;
    z-index: 1;
}
 
.paginate .paging {
    text-align: center;
}
 
.paginate .paging a, .paginate .paging strong {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #848484;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}
 
.paginate .paging a:hover, .paginate .paging strong {
    color: #DAA520;
    font-weight: 600;
    font-weight: normal;
}
 
.paginate .paging .direction {
    z-index: 3;
    vertical-align: middle;
    background-color: none;
    margin: 0 2px;
    border: 1px solid #777;
    border-radius: 2px;
    width: 28px;
}
 
.paginate .paging .direction:hover {
    border: 1px solid #C40639;
}
 
.paginate .paging .direction.prev {
    margin-right: 4px;
}
 
.paginate .paging .direction.next {
    margin-left: 4px;
    cursor: pointer;
}
 
.paginate .paging img {
    vertical-align: middle;
}
 
.paginate .right {
    position: absolute;
    top: 0;
    right: 0;
}
 
.bottom-left, .bottom-right {
    position: relative;
    z-index: 5;
}
 
.paginate ~ .bottom {
    margin-top: -50px;
}
 
 
.bottom select {
    background: transparent;
    color: #aaa;
    cursor: pointer;
}
 
 
/* paginate */
.paginate {
    padding: 0;
    line-height: normal;
    text-align: center;
    position: relative;
    margin: 20px 0 20px 0;
}
 
.paginate .paging {
    text-align: center;
}
 
.paginate .paging a, .paginate .paging strong {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #999;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}
 
.paginate .paging a:hover, .paginate .paging strong {
    color: #C40639;
    font-weight: 600;
    font-weight: normal;
}
 
.paginate .paging .direction {
    z-index: 3;
    vertical-align: middle;
    background-color: none;
    margin: 0 2px;
}
 
.paginate .paging .direction:hover {
    background-color: transparent;
}
 
.paginate .paging .direction.prev {
    margin-right: 4px;
}
 
.paginate .paging .direction.next {
    margin-left: 4px;
}
 
.paginate .paging img {
    vertical-align: middle;
}
 
.paginate .right {
    position: absolute;
    top: 0;
    right: 0;
}

.like_img {
  width: auto;
  height: 20px;
  object-fit: fill;
  cursor: pointer;
}

.main_img {
    margin: auto;
    display: block;
}



/* common layout */
.c-box {
	display: block;
	width: 100%;
	padding: 30px 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* login */
.login-wrap {
	width: calc(100% - 40px);
	max-width: 500px;
	margin: 0 auto;
}
.login-title {
	text-align: center;
    font-size: 35px;
    margin-bottom: 60px;
    font-weight: 600;
    color: #111;
}
.login-wrap {
	min-height: 100vh;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
}


/* basic-table */
.basic-table {
	width: 100%;
	border-collapse: collapse;
}
.basic-table th,
.basic-table td {
	border: 1px solid #ddd;
	padding: 10px 15px;
}
.basic-table th {
	font-weight: 600;
    background-color: #f9f9f9;
}

/*comment*/
.comment_list > li {
	padding: 10px 20px;
	border-radius : 5px;
	border : 1px solid #ddd;
	margin : 10px 0 0;
}

.writer {
	font-weight: bold;
	padding-right : 5px;
}

.comment_form{
	display: flex;
}

.comment_form > textarea {
	width: calc(100% - 120px);
	
}

#comment_button {
	width: 120px;
}


 