<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.to21.torun.webDao.webDao">
    <select id="time"  resultType="String">
		select SYSDATE from dual
    </select>
    
    <insert id="insertBoard" parameterType="com.to21.torun.vo.webVo">
    	INSERT INTO BOARD (
			   BOARD_SEQ,
			   BOARD_TITLE,
			   BOARD_CONTENT,
			   BOARD_INIT_DATE,
			   BOARD_VIEWS,
			   WRITER
			   )
	    VALUES(
	    	   BOARD_SEQ.NEXTVAL, 
		       #{board_title}, 
		       #{board_content}, 
		       TO_CHAR(SYSDATE,'yyyy.mm.dd hh24:mi'),
		       0,
		       #{writer})
    	
    </insert>
    
    <select id="boardList" resultType="hashmap">
    	SELECT * 
    	  FROM BOARD
      ORDER BY NVL(BOARD_UPDATE_DATE,BOARD_INIT_DATE) DESC
    </select>
    
   	<select id="selectBoard" resultType="hashmap" parameterType="String">
    	SELECT * 
    	  FROM BOARD
    	 WHERE BOARD_SEQ = #{board_seq}
    </select>

   	<update id="updateBoard" parameterType="com.to21.torun.vo.webVo">
    	UPDATE BOARD
    	   SET BOARD_TITLE = #{board_title},
    	       BOARD_CONTENT = #{board_content},
    	       WRITER = #{writer},
    	       BOARD_UPDATE_DATE = TO_CHAR(SYSDATE,'yyyy.mm.dd hh24:mi')
    	 WHERE BOARD_SEQ = #{board_seq}
    </update>

   	<update id="updateViews" parameterType="com.to21.torun.vo.webVo">
    	UPDATE BOARD
    	   SET BOARD_VIEWS = (SELECT BOARD_VIEWS+1 FROM BOARD WHERE BOARD_SEQ = #{board_seq})
    	 WHERE BOARD_SEQ = #{board_seq}
    </update>     
      
   	<delete id="delViews" parameterType="com.to21.torun.vo.webVo">
    	DELETE
    	  FROM BOARD
    	 WHERE BOARD_SEQ = #{board_seq}
    </delete> 
    
    <select id="selectComment" resultType="hashmap">
        SELECT *
          FROM BOARD_COMMENT
         WHERE BOARD_SEQ = #{board_seq}
    </select>      
    
    <insert id="insertComment" parameterType="com.to21.torun.vo.commentVo">
    	INSERT INTO 
    	       BOARD_COMMENT (
			   BOARD_SEQ,
			   COMMENT_SEQ,
			   CONTENT,
			   WRITER,
			   INIT_DATE
			   )
	    VALUES(
	    	   #{board_seq},
	    	   COMMENT_SEQ.NEXTVAL, 
		       #{content}, 
		       #{writer}, 
		       TO_CHAR(SYSDATE,'yyyy.mm.dd hh24:mi')
		       )
    	
    </insert>
</mapper>
